body {
    margin: 30px;
    background-color: rgb(7, 7, 7);
    color: rgb(228, 200, 187);
    font-family: "Lucida Sans";
    font-size: 18px;
  }
  
  section{
     background-color: rgb(78, 64, 64);
     padding: 10px;
     margin-bottom: 20px;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(137, 111, 99);
  }
  
  span {
    font-weight: bold;
    font-style: italic;
  }
  
  p {
    color: rgb(228, 200, 187);
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  
  
  img {
    width: 20%;
     vertical-align: middle;
  }
  
  a {
    color: rgb(228, 200, 187);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:visited {
    color: rgb(228, 200, 187);
  }
  
  .box{
    border-style: groove;
    border-radius: 10px;
  }
  
  li{
    float: center;
    color: rgb(228, 200, 187);
  }

  
  .nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links{
    list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(78, 64, 64);
  }

li a {
  display: block;
  color: rgb(228, 200, 187);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav{
  background-color: rgb(78, 64, 64);
  padding: 10px;
  margin-bottom: 20px;
}

footer{
  background-color: rgb(78, 64, 64);
}

@media screen and (max-width: 496px) {
  img {width: 80%;}
}

header{
  color: darkgrey; 
}

 

